/* https://github.com/jwarby/jekyll-pygments-themes */
.highlight pre {
  background-color: #404040;
}
.highlight .c {
  color: #999999;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
} /* Error */
.highlight .g {
  color: #d0d0d0;
} /* Generic */
.highlight .k {
  color: #6ab825;
  font-weight: bold;
} /* Keyword */
.highlight .l {
  color: #d0d0d0;
} /* Literal */
.highlight .n {
  color: #d0d0d0;
} /* Name */
.highlight .o {
  color: #d0d0d0;
} /* Operator */
.highlight .x {
  color: #d0d0d0;
} /* Other */
.highlight .p {
  color: #d0d0d0;
} /* Punctuation */
.highlight .cm {
  color: #999999;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #cd2828;
  font-weight: bold;
} /* Comment.Preproc */
.highlight .c1 {
  color: #999999;
  font-style: italic;
} /* Comment.Single */ /* Comment.Special */
.highlight .gd {
  color: #d22323;
} /* Generic.Deleted */
.highlight .ge {
  color: #d0d0d0;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #d22323;
} /* Generic.Error */ /* Generic.Heading */
.highlight .gi {
  color: #589819;
} /* Generic.Inserted */
.highlight .go {
  color: #cccccc;
} /* Generic.Output */ /* Generic.Prompt */ /* Generic.Strong */ /* Generic.Subheading */
.highlight .gt {
  color: #d22323;
} /* Generic.Traceback */ /* Keyword.Constant */ /* Keyword.Declaration */
.highlight .kn {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Namespace */ /* Keyword.Pseudo */ /* Keyword.Reserved */
.highlight .kt {
  color: #6ab825;
  font-weight: bold;
} /* Keyword.Type */ /* Literal.Date */
.highlight .m {
  color: #3677a9;
} /* Literal.Number */
.highlight .s {
  color: #ed9d13;
} /* Literal.String */
.highlight .na {
  color: #bbbbbb;
} /* Name.Attribute */
.highlight .nb {
  color: #24909d;
} /* Name.Builtin */
.highlight .nc {
  color: #447fcf;
  text-decoration: underline;
} /* Name.Class */
.highlight .no {
  color: #40ffff;
} /* Name.Constant */
.highlight .nd {
  color: #ffa500;
} /* Name.Decorator */
.highlight .ni {
  color: #d0d0d0;
} /* Name.Entity */
.highlight .ne {
  color: #bbbbbb;
} /* Name.Exception */
.highlight .nf {
  color: #447fcf;
} /* Name.Function */
.highlight .nl {
  color: #d0d0d0;
} /* Name.Label */
.highlight .nn {
  color: #447fcf;
  text-decoration: underline;
} /* Name.Namespace */ /* Name.Other */
.highlight .py {
  color: #d0d0d0;
} /* Name.Property */
.highlight .nt {
  color: #6ab825;
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: #40ffff;
} /* Name.Variable */ /* Operator.Word */
.highlight .w {
  color: #666666;
} /* Text.Whitespace */
.highlight .mf {
  color: #3677a9;
} /* Literal.Number.Float */ /* Literal.Number.Hex */
.highlight .mi {
  color: #3677a9;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #3677a9;
} /* Literal.Number.Oct */ /* Literal.String.Backtick */ /* Literal.String.Char */ /* Literal.String.Doc */
.highlight .s2 {
  color: #ed9d13;
} /* Literal.String.Double */
.highlight .se {
  color: #ed9d13;
} /* Literal.String.Escape */
.highlight .sh {
  color: #ed9d13;
} /* Literal.String.Heredoc */ /* Literal.String.Interpol */ /* Literal.String.Other */ /* Literal.String.Regex */ /* Literal.String.Single */ /* Literal.String.Symbol */
.highlight .bp {
  color: #24909d;
} /* Name.Builtin.Pseudo */ /* Name.Variable.Class */ /* Name.Variable.Global */
.highlight .vi {
  color: #40ffff;
} /* Name.Variable.Instance */ /* Literal.Number.Integer.Long */
