/* From https://github.com/dunovank/jupyter-themes/blob/master/jupyterthemes/styles/compiled/grade3.css */
div#notebook {
  font-family: sans-serif;
  font-size: 13pt;
  line-height: 170%;
  color: #303030;
  -webkit-font-smoothing: antialiased !important;
  padding-top: 25px !important;
}

body,
div.body {
  font-family: sans-serif;
  font-size: 13pt;
  color: #303030;
  background-color: #ffffff;
  background: #ffffff;
  -webkit-font-smoothing: antialiased !important;
}

a {
  font-family: sans-serif;
  color: #303030;
  -webkit-font-smoothing: antialiased !important;
}

a:hover,
a:focus {
  color: #2f2f2f;
  -webkit-font-smoothing: antialiased !important;
}


#logout {
  font-family: "Proxima Nova", sans-serif;
  color: #303030;
  background: transparent;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  margin-right: 10px;
  padding: 2px 7px;
}


#logout:hover {
  color: #ef5c00;
  background-color: transparent;
  background: transparent;
  border: 2px solid #ef5c00;
  background-image: none;
  box-shadow: none !important;
  border-radius: 3px;
}


#logout:focus,
#logout.focus,
#logout:active,
#logout.active,
.open > .dropdown-toggle#logout {
  color: #1c1c1c;
  background-color: #303030;
  background: #303030;
  border-color: #303030;
  background-image: none;
  box-shadow: none !important;
  border-radius: 2px;
}

body > #header {
  background: #ffffff;
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px;
  line-height: normal;
}

.breadcrumb > li {
  font-size: 12pt;
  color: #303030;
  border: none;
  text-shadow: none !important;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0px;
  color: #303030;
  font-size: 18px;
}

ul#tabs a {
  font-family: sans-serif;
  font-size: 13.5pt;
  font-weight: normal;
  font-style: normal;
  text-shadow: none !important;
}

.nav > li.disabled > a,
.nav > li.disabled > a:hover {
  color: #828892;
}

div#notebook {
  font-family: sans-serif;
  font-size: 13pt;
  padding-top: 4px;
}

.container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

#header {
  font-family: sans-serif;
  font-size: 13pt;
  box-shadow: none;
  background-color: #ffffff;
}

#header .header-bar {
  background: #ffffff;
  background-color: #ffffff;
}

body > #header .header-bar {
  width: 100%;
  background: #ffffff;
}

.navbar {
  border: none;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
}

.navbar-nav {
  margin: 0;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.8;
  }

  8% {
    -webkit-transform: scale(1, 1);
    opacity: 0.8;
  }

  50% {
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0.3;
  }

  92% {
    -webkit-transform: scale(1, 1);
    opacity: 0.8;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0.8;
  }
}

.dropdown-menu {
  font-family: sans-serif;
  font-size: 13pt;
  box-shadow: none;
  padding: 0px;
  text-align: left;
  border: none;
  background-color: #dedede;
  background: #dedede;
  line-height: 1;
}

.dropdown-menu:hover {
  font-family: sans-serif;
  font-size: 13pt;
  box-shadow: none;
  padding: 0px;
  text-align: left;
  border: none;
  background-color: #dedede;
  box-shadow: none;
  line-height: 1;
}

.dropdown-menu > li > a {
  font-family: sans-serif;
  font-size: 12pt;
  display: block;
  padding: 10px 20px 9px 10px;
  color: #303030;
  background-color: #dedede;
  background: #dedede;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #2f2f2f;
  background-color: #d4d4d4;
  background: #d4d4d4;
  border-color: #d4d4d4;
  transition: 200ms ease;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: normal;
  color: #828892;
  padding: none;
  display: block;
  clear: both;
  white-space: nowrap;
}

.btn {
  font-family: sans-serif;
  color: #303030;
  background: #e5e5e5;
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  font-weight: normal;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  font-size: initial;
}

.btn:hover,
.btn:active:hover,
.btn.active:hover,
.open > .dropdown-toggle.btn:hover {
  color: #ef5c00;
  border: 2px solid #e0e0e0;
  background-color: #e0e0e0;
  background: #e0e0e0;
  background-image: none;
  box-shadow: none !important;
  border-radius: 3px;
}

.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus,
.btn:active.focus,
.btn.active.focus,
.open > .dropdown-toggle.btn:focus,
.open > .dropdown-toggle.btn.focus {
  color: #ef5c00;
  border: 2px solid #e0e0e0;
  background-color: #e0e0e0 !important;
  background: #e0e0e0 !important;
  background-image: none;
  box-shadow: none !important;
  border-radius: 3px;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn.active:focus,
.btn:active,
.btn.active,
.btn:active.focus,
.btn.active.focus {
  color: #ef5c00 !important;
  outline: none !important;
  outline-width: 0px !important;
  background: #ffccac !important;
  background-color: #ffccac !important;
  border-color: #ffccac !important;
  transition: 200ms ease !important;
}

button.close {
  border: 0px none;
  font-family: sans-serif;
  font-size: 20pt;
  font-weight: normal;
}

.close {
  color: #de143d;
  opacity: 0.5;
  text-shadow: none;
  font-weight: normal;
}

.close:hover {
  color: #de143d;
  opacity: 1;
  font-weight: normal;
}

div.modal > button,
div.modal-footer > button {
  background: #e4e4e4;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

div.modal > button:hover,
div.modal-footer > button:hover {
  background: #dfdfdf;
  background-color: #dfdfdf;
  border-color: #dfdfdf;
  transition: 200ms ease;
}

.modal-content {
  font-family: sans-serif;
  font-size: 12pt;
  position: relative;
  background: #e4e4e4;
  background-color: #e4e4e4;
  border: none;
  border-radius: 1px;
  background-clip: padding-box;
  outline: none;
}

.modal-content h4 {
  font-family: sans-serif;
  font-size: 16pt;
  color: #303030;
  padding: 5px;
}

.modal-body {
  background-color: #ffffff;
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 8px;
  text-align: right;
  background-color: #ffffff;
  border-top: none;
}

.modal-backdrop,
.modal-backdrop.in {
  opacity: 0.85;
  background-color: notebook-bg;
}

div.panel,
.panel {
  font-family: sans-serif;
  font-size: 13pt;
  background-color: #f4f4f4;
  color: #303030;
  margin-bottom: 14px;
  border: 0;
  box-shadow: none;
}

.modal .modal-dialog {
  min-width: 950px;
  margin: 50px auto;
}

input,
button,
select,
textarea {
  background-color: #ffffff;
  font-weight: normal;
  border: 1px solid #dedede;
}

::-webkit-input-placeholder {
  color: #828892;
}

::-moz-placeholder {
  color: #828892;
}

::-webkit-scrollbar {
  width: 11px;
  max-height: 9px;
  background-color: #ebebeb;
  border-radius: 3px;
  border: none;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
  border: none;
  width: 11px;
  max-height: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: none;
  background: #909090;
  background-clip: content-box;
  width: 11px;
}

HTML,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
input,
button,
textarea,
p,
blockquote,
th,
td,
span,
a {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 400;
}

div.cell {
  padding: 0px;
  background: #ededed;
  background-color: #ededed;
  border: medium solid #ffffff;
  border-radius: 4px;
  top: 0;
}

div.cell.selected {
  background: #ededed;
  background-color: #ededed;
  border: medium solid #ffffff;
  padding: 0px;
  border-radius: 5px;
}

div.cell.selected:before,
div.cell.selected:before {
  background: #ededed !important;
  border: none;
  border-radius: 3px;
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
}

div.prompt,
.prompt {
  font-family: monospace, monospace;
  font-size: 9pt !important;
  font-weight: normal;
  color: #828892;
  line-height: 170%;
  padding: 0px;
  padding-top: 4px;
  padding-left: 0px;
  padding-right: 1px;
  text-align: right !important;
  min-width: 11.5ex !important;
  width: 11.5ex !important;
}

div.cell.selected .prompt {
  top: 0;
}

pre,
code,
kbd {
  white-space: pre-wrap;
}

.well code,
code {
  font-family: monospace, monospace;
  font-size: 11pt !important;
  line-height: 170% !important;
  color: #353535;
  background: #efefef;
  background-color: #efefef;
  border-color: #efefef;
}

kbd {
  padding: 1px;
  font-size: 11pt;
  font-weight: 800;
  color: #303030;
  background-color: transparent !important;
  border: 0;
  box-shadow: none;
}

pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12pt;
  line-height: 1.42857143;
  color: #303030;
  background-color: #efefef;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
}

hr {
  margin-top: 8px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #126dce;
}

#complete > select > option:hover {
  background: #d4d4d4;
  background-color: #d4d4d4;
}

.progress {
  overflow: hidden;
  height: 22px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #d6d6d6 !important;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 10;
}

#clusters > a {
  color: #ef5c00;
  text-decoration: underline;
  cursor: auto;
}

#clusters > a:hover {
  color: #126dce;
  text-decoration: underline;
  cursor: auto;
}

mark,
.mark {
  background-color: #ffffff;
  color: #353535;
  padding: 0.15em;
}

#toc a,
.toc {
  color: #303030 !important;
  font-size: 11pt !important;
}

#toc li > span:hover {
  background-color: #d4d4d4 !important;
}

#toc a:hover,
.toc {
  color: #1c1c1c !important;
  font-size: 11pt !important;
}

input.raw_input {
  font-family: monospace, monospace;
  font-size: 11pt !important;
  color: #303030;
  background-color: #efefef;
  border-color: #ececec;
  background: #ececec;
  width: auto;
  vertical-align: baseline;
  padding: 0em 0.25em;
  margin: 0em 0.25em;
  -webkit-box-shadow: none;
  box-shadow: none;
}

audio,
video {
  display: inline;
  vertical-align: middle;
  align-content: center;
  margin-left: 20%;
}


.well {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  color: #303030;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.MathJax {
  border: 0 !important;
  font-size: 100% !important;
  text-align: center !important;
  margin: 0em !important;
  line-height: 2.25 !important;
}

.MathJax:focus,
body :focus .MathJax {
  display: inline-block !important;
}

.MathJax:focus,
body :focus .MathJax {
  display: inline-block !important;
}
